[Unit]
Description=Web app to stream whiteboard content captured by a webcam
After=network.target

[Service]
WorkingDirectory=/home/pi/tondo-app/
ExecStart=/home/pi/tondo-app/venv/bin/gunicorn --worker-class gevent --workers 1 --bind 0.0.0.0:80 app:app
Restart=always

[Install]
WantedBy=multi-user.target
