<html>

<head>
    <title>Tondo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/app.css">
    <meta name="author" content="Tjibbe van der Laan">
</head>

<body>
    <main id="wca-main">
        <section id="wca-statusbar">
            <div id="wca-nojs">
                <p>Please turn on JavaScript to start whiteboard.</p>
            </div>
            <div id="wca-initializing" class="hide">
                <div id="wca-initializing-loader" class="loader animate">
                    <div class="quad-1 quad"></div>
                    <div class="quad-2 quad"></div>
                    <div class="quad-3 quad"></div>
                    <div class="quad-4 quad"></div>
                </div>
                <p id="wca-initializing-text" class="wca-padding">Starting camera...</p>
            </div>
            <div id="wca-failed-nomarkersfound" class="hide">
                <p>No markers have been found. Did you put on the light?</p>
            </div>
            <div id="wca-failed-missingmarkers" class="hide">
                <p>Make sure to bring <span id="wca-failed-missingmarkers-amount">_</span> marker(s) in the field-of-view of the camera and refresh page.</p>
                <div class="wca-marker-list wca-padding">
                    <div id="wca-marker-0" class="wca-marker-item hide">
                        <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges" width="28px" height="28px">
                            <rect x="0" y="0" width="6" height="6" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="3" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="4" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="4" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="4" fill="black"></rect>
                        </svg>
                    </div>
                    <div id="wca-marker-1" class="wca-marker-item hide">
                        <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges" width="28px" height="28px">
                            <rect x="0" y="0" width="6" height="6" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="3" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="4" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="4" fill="black"></rect>
                        </svg>
                    </div>
                    <div id="wca-marker-2" class="wca-marker-item hide">
                        <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges" width="28px" height="28px">
                            <rect x="0" y="0" width="6" height="6" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="3" y="4" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="4" fill="white"></rect>
                        </svg>
                    </div>
                    <div id="wca-marker-3" class="wca-marker-item hide">
                        <svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges" width="28px" height="28px">
                            <rect x="0" y="0" width="6" height="6" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="1" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="1" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="2" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="3" y="2" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="2" fill="white"></rect>
                            <rect width="1" height="1" x="1" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="3" fill="white"></rect>
                            <rect width="1" height="1" x="3" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="4" y="3" fill="black"></rect>
                            <rect width="1" height="1" x="1" y="4" fill="black"></rect>
                            <rect width="1" height="1" x="2" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="3" y="4" fill="white"></rect>
                            <rect width="1" height="1" x="4" y="4" fill="black"></rect>
                        </svg>
                    </div>
                </div>
            </div>
            <div id="wca-failed-default" class="hide">
                <p>Failed to start camera. Refresh page to try again.</p>
            </div>
        </section>
        <section id="wca-board">
            <img id="wca-board-holder" />
        </section>
    </main>
</body>
<script type="text/javascript" src="/static/app.js"></script>
<script type="text/javascript">
/**
 * Initialize WhiteboardCameraApp when DOM is loaded
 */
window.addEventListener('DOMContentLoaded', () => {
    whiteboard = new WhiteboardCameraApp();
    whiteboard.launch();
});
</script>

</html>